@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Geologica, sans-serif;
}

body {
    background-color: #151e3f;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    width: 100%;
    background: #151e3f;
    padding: 1.25em 1em;
    position: relative;
}

nav {
    position: relative;
    display: block;
    text-align: center;
    min-height: 2.2em;
}

#hamburger {
    display: none;
}

.hamburger {
    display: inline-block;
    position: absolute;
    left: 1em;
    top: 1em;
    width: 20px;
    height: 18px;
    padding: 0;
    cursor: pointer;
    z-index: 1100;
}

.hamburger span {
    position: absolute;
    height: 3px;
    background-color: #FA9589;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.hamburger span:nth-child(1) {
    top: 6px;
}

.hamburger span:nth-child(2) {
    top: 12px;
}

#hamburger:checked ~ .slideout {
    transform: translateX(0);
}

.slideout {
    position: absolute;
    top: 0;
    left: -1em;
    width: 280px;
    height: 20em;
    background-color: #151e3f;
    border-radius: 2.5em;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    z-index: 1050;
    display: flex;
    flex-direction: column;
}

.slideout a {
    color: #FA9589;
    text-decoration: none;
    padding: 1.5em 2em;
    font-size: 1.2em;
    font-family: Geologica, sans-serif;
}

#hamburger:checked ~ .hamburger span:nth-child(1) {
    opacity: 0;
}

#hamburger:checked ~ .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    top: 6px;
}

#hamburger:checked ~ .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 6px;
}

.friends {
    background-color: #FA9589;
    padding: 2em;
    text-align: center;
    font-size: 2em;
}   
      
.p1{
    padding-left: 2em;
    padding-top: 4em;
    background: #151e3f;
    background-image: url(images/rain.png);
    background-size: cover;
    overflow: hidden;
}

.p1 h1{
    color: white;
    font-size: 3em;

}

.p1 p {
    max-width: 20em;
    color: whitesmoke;
    padding-top: 2em;
    font-size: 1.1em;
    padding-bottom: 3em;
}

.home-img {
    max-width: 30em;
    margin-top: -15em;
   margin-left: 0em;
   margin-bottom: -0.25em;
   height: 37em;
   overflow: hidden;
}

.btn-primary {
    text-decoration: none;
    color: white;
    background-color: #FA9589;
    border-radius: 2em;
    padding-left: 1.6em;
    padding-right: 1.6em;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
    transition: all 0.2s ease-in-out;
    position: relative;
}

@media (min-width: 700px) {
    .p1 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1em;
    }

    .p1 h1 {
        font-size: 2.5em;
    }

    .p1 p {
        font-size: 1em;
        max-width: 30em;
    }

    .p1 > div:last-child{
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .home-img {
        display: block;
        margin-top: -12em;
        width: auto;
        height: 35em;
    }
}

@media (min-width: 1000px) {
    .p1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: clamp(0.75em, 2vw, 11.25em);
        margin: 0;
        padding: 0 1em;
    }

    .p1 h1 {
        font-size: 4em;
        max-width: 40em;
    }

    .p1 p {
        font-size: 1.2em;
        max-width: 40em;
        padding-right: 0;
    }

    .home-img {
        margin-top: -10em;
        margin-left: 0;
        height: 40em;
        flex: 0 0 auto;
    }
}

.p2 {
    padding: 4em 2em;
    background-color: #FA9589;
}

.p2 h2 {
    font-size: 2em;
    font-family: Geologica, sans-serif;
    font-weight: 700;
    margin-bottom: 0.5em;
    text-align: center;
}

.p2-img {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.p2-img img {
    width: clamp(20em, 60vw, 40em);
    height: auto;
    display: block;
}

.p2 p {
    font-size: 1em;
    font-family: Geologica, sans-serif;
    line-height: 1.5em;
    margin-top: 1.5em;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (min-width: 1000px) {
    .p2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    .p2 h2 {
        text-align: left;
        font-size: 2.5em;
        margin: 0 0 0.3em 0;
    }

    .p2 p {
        text-align: left;
        font-size: 1.2em;
        margin-top: 0;
        max-width: 30em;
    }

    .p2-img {
        margin: 0;
        flex: 0 0 auto;
    }
}

.p3 {
    padding: 4em 2em;
    text-align: center;
}

.p3 h2 {
    font-size: 2em;
    font-family: Geologica, sans-serif;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.p3 p {
    font-size: 1em;
    font-family: Geologica, sans-serif;
    line-height: 1.6em;
    margin-bottom: 1.5em;
    max-width: 40em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.p3-img {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.p3-img img {
    width: clamp(20em, 60vw, 40em);
    height: auto;
    display: block;
    margin-top: 2em;
}

.btn-phone {
    background: #FA9589;
    color: white;
    font-weight: 600;
    padding: 0.8em 1.6em;
    border-radius: 2em;
    text-decoration: none;
    font-size: 1.1em;
    font-family: Geologica, sans-serif;
    display: inline-block;
    margin-top: 2em;
}

@media (min-width: 700px) {
    .p3 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.25em;
    }

    .p3-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 32em;
    }

    .p3 h2 {
        text-align: left;
        font-size: 2.5em;
        margin: 0 0 0.4 0;
    }

    .p3 p {
        text-align: left;
        font-size: 1.2em;
        margin: 0 0 0.8 0;
        line-height: 1.6em;
    }

    .btn-phone {
        display: inline-block;
        margin: 0;
        padding: 0.75em 1.25em;
        border-radius: 2.5em;
    }

    .p3-img {
        margin: 0;
    }

    .p3-img img {
        display: block;
        max-width: min(38vw, 520px);
        height: auto;
    }
}

@media (min-width: 1000px) {
    .p3 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }

    .p3-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 32em;
    }

    .p3 h2 {
        text-align: left;
        font-size: 2.5em;
        margin: 0 0 0.4 0;
    }

    .p3 p {
        text-align: left;
        font-size: 1.2em;
        margin: 0 0 0.8 0;
        line-height: 1.6em;
    }

    .btn-phone {
        display: inline-block;
        margin: 0;
        padding: 0.75em 1.25em;
        border-radius: 2.5em;
    }

    .p3-img {
        margin: 0;
    }

    .p3-img img {
        display: block;
        max-width: min(38vw, 520px);
        height: auto;
    }
}

.ideeen {
    padding: 4em 2em;
    background-color: #FA9589;
    text-align: center;
}

.ideeen h2 {
    font-size: 2em;
    font-family: Geologica, sans-serif;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.ideeen p {
    font-size: 1em;
    font-family: Geologica, sans-serif;
    line-height: 1.6em;
    margin-bottom: 1.5em;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

.typ-ideeen {
    background-color: #151e3f;
    padding: 0.8em 1em;
    border-radius: 2em;
    border: none;
    font-size: 1em;
    width: 60%;
    max-width: 20em;
    margin-right: 1em;
    margin-top: 2em;
}

.typ-ideeen::placeholder {
    color: white;
    opacity: 0.7;
}

.btn-ideeen {
    background: #151e3f;
    color: white;
    font-weight: 600;
    padding: 0.8em 1.6em;
    border-radius: 2em;
    text-decoration: none;
    font-size: 1.1em;
    font-family: Geologica, sans-serif;
    display: inline-block;
    border: none;
    cursor: pointer;
}

@media (min-width: 1000px) {
    .typ-ideeen {
        max-width: 40em;
    }
}

.waarden {
    padding: 4em 2em;
    text-align: center;
}

.waarden h2 {
    font-size: 2em;
    font-family: Geologica, sans-serif;
    font-weight: 700;
    margin-bottom: 0.5em;
}   

.waarden h3 {
    font-size: 1.5em;
    font-family: Geologica, sans-serif;
    font-weight: 600;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.waarden p {
    font-size: 1em;
    font-family: Geologica, sans-serif;
    line-height: 1.6em;
    margin-bottom: 1.5em;
    max-width: 20em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 700px) {
    .waarden {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 2.5em;
        justify-items: center;
        align-items: start;
        max-width: 1100px;
        margin-inline: auto;
        text-align: center;
    } 

    .waarden > h2 {
        grid-column: 1 / -1;
        margin-bottom: 0.5em;
    }

    .waarden .waarde-item {
        max-width: 22em;
        margin: O auto;
    }
}

@media (min-width: 1000px) {
    .waarden .waarde-item {
        max-width: 15em;
        margin: O auto;
    }
}

.p-contact {
    background-color: #151E3F;
    margin-top: -2.2em;
}

.contact {
    text-align: center;
    color: white;
}

.contact h2 {
    font-size: 2.5em;
    padding-bottom: 1em;
}

.contact form div {
    position: relative;
}

.contact input {
    border: solid white;
    background-color: transparent;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    outline: none;
    margin: 2em;
    width: 20em;
    color: white;
    caret-color: white;

}

.contact label {
    position: absolute;
    padding-left: 2em;

}

.contact textarea {
    border: solid white;
    background-color: transparent;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    outline: none;
    margin: 2em;
    width: 20em;
    height: 10em;
    color: white;
    caret-color: white;
}

.contact-btn {
    text-decoration: none;
    color: white;
    background-color: #FA9589;
    border-radius: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
    transition: all 0.2s ease-in-out;
    position: relative;
    display: inline-block;
}

.contact-btn button {
    border: none;
    background: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.info {
    padding: 4em 2em;
    text-align: center;
    background-color: #FA9589;
    border-radius: 2.5em;
    width: fit-content;
    margin: 0 auto;
    margin-top: 5em;
}

.info h2 {
    font-size: 2em;
    font-family: Geologica, sans-serif;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.info p {
    font-size: 1em;
    font-family: Geologica, sans-serif;
    line-height: 1.6em;
    margin-bottom: 1.5em;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1000px) {
    .p-contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3em;
        align-items: center;
        justify-items: center;
        max-width: 1200px;
        margin-inline: auto;
        padding: 4em 2em;
    }

    .contact, .info {
        width: 100%;
        max-width: 520px;
    }

    .contact input, .contact textarea {
        width: 100%;
        max-width: 520px;
        margin: 1em auto;
    }

    .contact form div {
        position: relative;
        max-width: 520px;
        margin: 0 auto;
        text-align: left;
    }

    .contact label {
        position: absolute;
        top: -0.9em;
        left: 0.75em;
        font-size: 0.9em;
        opacity: 0.9;
    }

    .contact .contact-btn {
        display: inline-block;
        margin-top: 0.5em;
    }

    .info {
        margin: 0;
        padding: 3em 2em;
        border-radius: 2.5em;
    }

    .info-input {
        display: flex;
        align-items: center;
        gap: 0.75em;
        justify-content: center;
    }

    .info-input img {
        width: 24px;
        height: 24px;
    }
}

footer {
    background-color: #151e3f;
    padding: 2em;
    text-align: center;
}

@media (min-width:700px) {
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
        max-width: 100%;
        padding: 1.5em 2em;
        background-color: #151E3F;
        color: white;
        box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.25);
        border-radius: 0.5em;
        text-align: left;
    }

    .footer-text {
        margin: 0;
        white-space: nowrap;
    }
}



