@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Geologica, sans-serif;
}

body {
    background-color: #151e3f;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    width: 100%;
    background: #151e3f;
    padding: 1.25em 1em;
    position: relative;
}

nav {
    position: relative;
    display: block;
    text-align: center;
    min-height: 2.2em;
}

#hamburger {
    display: none;
}

.hamburger {
    display: inline-block;
    position: absolute;
    left: 1em;
    top: 1em;
    width: 20px;
    height: 18px;
    padding: 0;
    cursor: pointer;
    z-index: 1100;
}

.hamburger span {
    position: absolute;
    height: 3px;
    background-color: #FA9589;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.hamburger span:nth-child(1) {
    top: 6px;
}

.hamburger span:nth-child(2) {
    top: 12px;
}

#hamburger:checked ~ .slideout {
    transform: translateX(0);
}

.slideout {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 20em;
    background-color: #151e3f;
    border-radius: 2.5em;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    z-index: 1050;
    display: flex;
    flex-direction: column;
}

.slideout a {
    color: #FA9589;
    text-decoration: none;
    padding: 1.5em 2em;
    font-size: 1.2em;
    font-family: Geologica, sans-serif;
}

#hamburger:checked ~ .hamburger span:nth-child(1) {
    opacity: 0;
}

#hamburger:checked ~ .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    top: 6px;
}

#hamburger:checked ~ .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 6px;
}

.friends {
    background-color: #FA9589;
    padding: 2em;
    text-align: center;
    font-size: 2em;
}   
      
.p1{
    padding-left: 3em;
    padding-top: 4em;
    background: #151e3f;
    background-image: url(images/rain.png);
    background-size: cover;
}

.p1 h1{
    color: white;
    font-size: 3em;

}

.p1 p {
    max-width: 20em;
    color: whitesmoke;
    padding-top: 2em;
    font-size: 1.1em;
    padding-bottom: 3em;
}

.home-img {
   margin-top: -15em;
   padding-left: 0;
   margin-bottom: -0.25em;
   height: 37em;
}

.btn-primary {
    text-decoration: none;
    color: white;
    background-color: #FA9589;
    border-radius: 2em;
    padding-left: 1.6em;
    padding-right: 1.6em;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.p2 {
    padding: 4em 2em;
    background-color: #FA9589;
}

.p2 h2 {
    font-size: 2em;
    font-family: Geologica, sans-serif;
    font-weight: 700;
    margin-bottom: 0.5em;
    text-align: center;
}

.p2-img {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.p2-img img {
    width: clamp(20em, 60vw, 40em);
    height: auto;
    display: block;
}

.p2 p {
    font-size: 1em;
    font-family: Geologica, sans-serif;
    line-height: 1.5em;
    margin-top: 1.5em;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.p3 {
    padding: 4em 2em;
    text-align: center;
}

.p3 h2 {
    font-size: 2em;
    font-family: Geologica, sans-serif;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.p3 p {
    font-size: 1em;
    font-family: Geologica, sans-serif;
    line-height: 1.6em;
    margin-bottom: 1.5em;
    max-width: 40em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.p3-img {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.p3-img img {
    width: clamp(20em, 60vw, 40em);
    height: auto;
    display: block;
    margin-top: 2em;
}

.btn-phone {
    background: #FA9589;
    color: white;
    font-weight: 600;
    padding: 0.8em 1.6em;
    border-radius: 2em;
    text-decoration: none;
    font-size: 1.1em;
    font-family: Geologica, sans-serif;
    display: inline-block;
    margin-top: 2em;
}

.ideeen {
    padding: 4em 2em;
    background-color: #FA9589;
    text-align: center;
}

.ideeen h2 {
    font-size: 2em;
    font-family: Geologica, sans-serif;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.ideeen p {
    font-size: 1em;
    font-family: Geologica, sans-serif;
    line-height: 1.6em;
    margin-bottom: 1.5em;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

.typ-ideeen {
    background-color: #151e3f;
    padding: 0.8em 1em;
    border-radius: 2em;
    border: none;
    font-size: 1em;
    width: 60%;
    max-width: 20em;
    margin-right: 1em;
    margin-top: 2em;
}

.typ-ideeen::placeholder {
    color: white;
    opacity: 0.7;
}

.btn-ideeen {
    background: #151e3f;
    color: white;
    font-weight: 600;
    padding: 0.8em 1.6em;
    border-radius: 2em;
    text-decoration: none;
    font-size: 1.1em;
    font-family: Geologica, sans-serif;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.waarden {
    padding: 4em 2em;
    text-align: center;
}

.waarden h2 {
    font-size: 2em;
    font-family: Geologica, sans-serif;
    font-weight: 700;
    margin-bottom: 0.5em;
}   

.waarden h3 {
    font-size: 1.5em;
    font-family: Geologica, sans-serif;
    font-weight: 600;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.waarden p {
    font-size: 1em;
    font-family: Geologica, sans-serif;
    line-height: 1.6em;
    margin-bottom: 1.5em;
    max-width: 20em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.p-contact {
    background-color: #151E3F;
    margin-top: -2.2em;
}

.contact {
    text-align: center;
    color: white;
}

.contact h2 {
    font-size: 2.5em;
    padding-bottom: 1em;
}

.contact form div {
    position: relative;
}

.contact input {
    border: solid white;
    background-color: transparent;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    outline: none;
    margin: 2em;
    width: 25em;
    color: white;
    caret-color: white;

}

.contact label {
    position: absolute;
    padding-left: 2em;

}

.contact textarea {
    border: solid white;
    background-color: transparent;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    outline: none;
    margin: 2em;
    width: 25em;
    height: 10em;
    color: white;
    caret-color: white;
}

.contact-btn {
    text-decoration: none;
    color: white;
    background-color: #FA9589;
    border-radius: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
    transition: all 0.2s ease-in-out;
    position: relative;
    display: inline-block;
}

.contact-btn button {
    border: none;
    background: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.info {
    padding: 4em 2em;
    text-align: center;
    background-color: #FA9589;
    border-radius: 2.5em;
    width: fit-content;
    margin: 0 auto;
    margin-top: 5em;
}

.info h2 {
    font-size: 2em;
    font-family: Geologica, sans-serif;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.info p {
    font-size: 1em;
    font-family: Geologica, sans-serif;
    line-height: 1.6em;
    margin-bottom: 1.5em;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #151e3f;
    padding: 1em 1em;
    flex-wrap: wrap;
}

.footer-text {
    font-family: Geologica, sans-serif;
    flex: 1 1 0;
    min-width: 8em;
}

@media (min-width: 48em) {
    footer {
        gap: 2em;
        padding: 2em 3em;
    }    
}

@media (min-width: 64em) {
    footer {
        gap: 3em;
        padding: 3em 4em;
    }
}




